target/

/**/*.so

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore jniLibs
/android/app/src/main/jniLibs/

# Local settings
local.properties

# Heap memory dumps
*.hprof

.idea/
